@using System.Web.Mvc.Html;
@using Countersoft.Gemini.Models;
@using Countersoft.Gemini;
@using System.Linq;
@using System.Web;
@using TFSPicker;
@model Dictionary<string, TfsPickerItem>

    <script type="text/javascript" src="~/assets/scripts/apps/782D003D-D9F0-455F-AF09-74417D6DFD2B/tfsapp.js"></script>

    <div class="right"><input type="button" id="tfspicker-logout" value="Logout" class="button-secondary"></div>

    <div id="app-tfspicker">
        @if (Model != null && Model.Count() > 0)
        {
            <table id="tfs-details" class="cs-properties">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Collection </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-id="@item.Value.Id">
                            <td><a target="_blank" href="@item.Key">@item.Value.Id</a></td>
                            <td>@item.Value.TypeName</td>
                            <td>@item.Value.Title</td>
                            <td>@Html.Raw(item.Value.Description)</td>
                            <td>@item.Value.ProjectName</td>
                            <td>
                                <span class="action-button-delete" style="margin-right: -7px" title="@GetResource(ResourceKeys.Delete)" data-tfs="@item.Value.Id"></span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else if (Countersoft.Gemini.GeminiApp.LicenseSummary.IsGeminiTrial() || Countersoft.Gemini.GeminiApp.GeminiLicense.IsFree)
        {
            <div class="clearfix"></div>
            <div class="margin-top-20">
                <img src="~/assets/images/empty-state/no-tfspicker.png" />
            </div>
        }
        <br><br />

        <div id='search-tfs' class='cs-no-hover'>
            <input type='text' id='tfs-find' class="input-size8" placeholder='@GetResource(ResourceKeys.Search)' />
            <input type='button' class='button button-primary' title='Search TFS' value='Search' id='tfs-search'>
        </div>

        <div id="tfs-search-results"></div>
    </div>

    <script type="text/javascript">

        tfsSearch.init(gemini_item.issueId);

        tfsSearch.search(gemini_item.issueId);

        tfsSearch.deletetfs(gemini_item.issueId);

        tfsSearch.logout(gemini_item.issueId);

        $('#tfs-find').keypress(function (e) {
            if (e.which == 13) {
                jQuery(this).blur();
                jQuery("#tfs-search").focus().click();
            }
        });
        //# sourceURL=tfsItems.js
    </script>
